.board {
    /* grid-column: span 4; */
    background-color: #000;
    border: solid 5px #fff;
    border-radius: 5px;
    font-family: 'Courier', monospace;
    color: #fff;

    
    height: 480px;
    width: 350px;
    

    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;

    font-size: 2.8em;
}

.title{
    font-size: large;
    width: 100%;
    margin: 0;
    border-bottom: dashed #fff;
    padding: 10px 0px;
}

li {
    padding: 0;
}

ul{
    list-style-type: none;
    font-size: small;
    text-align:left;
    overflow: auto;
    padding: 10px;
    margin: 0px;
}