@font-face {
  font-family: 'RobotoMono';
  src: url('./fonts/Roboto_Mono/static/RobotoMono-Thin.ttf');
}

div#root{
  width: 75%;
}

html{
  height: 100%;
}

body {

  display: flex;
  height: 100%;
  margin: 0px;
  justify-content: center;
  align-items: center;
  text-align: center;

  font-family: 'RobotoMono', monospace;
  color: #fff;
  background: linear-gradient(rgb(135, 0, 0), rgb(25, 10, 5));
}

h1{
  margin-bottom: 50px;
}

.container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-self: center;
}